$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$link-cursor: pointer;
$link-transition: color 0.5s linear;
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Raleway', sans-serif;
$decorative-font: 'Lora', serif;
$main-font-size: 14px;
$h2-font-weight: 800;